@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Bold.otf') format('otf'),
     url('../fonts/avenir-next/AvenirNextLTPro-Regular.otf') format('otf'),
    url('../fonts/avenir-next/AvenirNextLTPro-It.otf') format('otf');
  }

@font-face { 
    font-family: 'work-sans';
    src: url('../fonts/WorkSans-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face { 
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

$dashboard-color: rgba(229, 229, 229, 0.1);
$primary-color: #39CDCC;
$welcome-color: #213F7D; 
$details-color: #545F7D;
$card-color: #FFFFFF;
$font-family_avenir: 'avenir-next', sans-serif;
$font-family_worksans: 'work-sans', sans-serif;
$font-family_roboto: 'roboto', sans-serif;
$general-font-size: 12px;
$line-height: 16px;
$size: 20px;
$size2: 40px;

@mixin basic_font($ffa:$font-family_avenir,$fs:$general-font-size, $fw:400, $lh:27px, $ls:0.1em, $ta:left, $c:$primary-color) {
    font-family: $ffa;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: $ta;
    color: $c;
}

// Login page css code
.details{
    @include basic_font($c:$details-color,$fs:$size);
}

.forgot_password_style{
    @include basic_font($fw:600,$lh:$line-height);
}
.forgot_password_style:hover, .forgot_password_style:active{
    cursor: pointer;
    transform: scale(1.01);
}


.login{
    background-color:$primary-color !important;
}
.login:hover{
    background-color:$welcome-color !important;
}

.show{
    @include basic_font($fs:$size,$ta:center,$fw:600);
}

.welcome_color{
    @include basic_font($fs:$size2,$fw:700,$lh:55px,$ls:-0.04em,$c:$welcome-color);    
    margin-bottom:0;
}

// Dashboard scss code 


/*                             Top Navigation                                     */
.icon {
    padding-top:10px;
    color:white;
}

.icon-notification {
    color:$welcome-color
}

.nav{
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    box-sizing: border-box;
}
.navigation {
    position: fixed;
    background-color: white;
    height: 100px;
    min-width: 1400px;
    box-sizing: border-box;


}

.search {
    width: 400px;
    border-radius:5px ;
    border:#E5E5E5 1px solid;
    padding-left: 12px;
    @include basic_font($ffa:$font-family_worksans,$fs:17px, $lh:27px, $c:$details-color)
} 

.search_button {
    position: relative;
    display:flex;
    width: 400px;
    height: $size2;
}

.search:focus,.search:active {
    outline: $primary-color 1px solid;
}

.search:hover {
    border: $primary-color 1px solid;
}
.search_icon {
    width: 56px;
    height: $size2;
    background-color:$primary-color;
    border-top-right-radius:10% ;
    border-bottom-right-radius:10% ;
    text-align: center;
    position: absolute;
    top:0;
    right:0;
}
.search::placeholder {
    opacity: 0.7;
    @include basic_font($ffa:$font-family_worksans, $fs:14px, $lh:16.42px, $c:$details-color); 
}

.top-anchor-tag {
    @include basic_font($ffa:$font-family_roboto, $fs:16px, $lh:27px, $ls:0em, $c:$welcome-color);
}

/*                            End of Top Navigation                                     */



/*                             Left Navigation                                     */
.contains-all{
    position: fixed;
    left: 0px;
    top: 100px;
    background-color: $dashboard-color;
    width: 283px;

    .container { 
        height: 520px;
        overflow-y: scroll;
        overflow-x: hidden;
        
        .customers {
            @include basic_font($ffa:$font-family_worksans, $lh:14px, $c:$details-color,$fw:550); 
            padding-left: $size;  
            margin-top: 10px;  
        }

        .image-style{
            width:16px;
            height:16px;
        }

        .item {
            height:$size2;
            opacity:0.7;
            border-left: 3px;
            user-select: none;
        
            .list-of-items {
                display:flex;
                margin-left: $size;
                transform: translateY(10px);

                .image-style{
                    width:16px;
                    height:16px;
                }
                .items-name {
                    padding-left: $size;
                    @include basic_font($ffa:$font-family_worksans,$fs:16px, $lh:normal, $fw:400, $c:$welcome-color) 
                }
            }
        }

        .item:hover, .item:active, .item:focus {
            background-color: rgba(57, 205, 204, 0.06);
            cursor: pointer;
            border-left: $primary-color solid;
            opacity: 1;
        }
        .item[tabIndex]:focus,.item[tabIndex]:active  {
            background-color: rgba(57, 205, 204, 0.06);
            border-left: $primary-color solid;
            opacity: 1;
            outline-color:$primary-color;
        }
    }

    .top-dashboard-item{
        display:flex;
        padding: 10px 20px;
        height: $size;
    }

    .top-dashboard-name {
        padding-left: $size;
        @include basic_font($ffa:$font-family_worksans,$fs:16px, $lh:19px, $c:$welcome-color);     
    }

    .top-dashboard-name-next{
        opacity: 0.7;
    }
    .spacing {
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    }
}

.container::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: $dashboard-color;
}

.container::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    border-radius: 50em;
}


/*                            End of Left Navigation                                     */


/*                             Users section                                             */
.top-covering-all-item{
    position: relative;
    background-color:$dashboard-color;
    height: 100%;
    width: 1017px;
    top: 100px;
    left: 283px;
    padding-top: 60px;
    padding-left: 30px;
    overflow-x: hidden;
    
    .top {
        top: 128px;
        left: 343px;
        display: flex;

        .card {
            width: 240px;
            height: 160px;
            box-sizing: border-box;
            background: $card-color;
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            padding-top: 20px;
            padding-left: 30px;
            margin:10px;
            @include basic_font($ffa:$font-family_worksans, $fs:14px, $lh:16.42px, $c:$details-color,$fw:500); 
        
            .number-of-users {
                @include basic_font($fs:24px, $lh:28px, $c:$welcome-color,$fw:600); 
            }

        } 
    }
    .users{
        @include basic_font($fs:24px, $lh:28px, $c:$welcome-color,$fw:500);
        margin-bottom: 20px;
    }
}

/*                            End of Users section                                             */

/*                              List of Users section                                          */
.table {
    background: $card-color;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 1000px;
    box-sizing: border-box;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
    
    .table-head{
        @include basic_font($ffa:$font-family_worksans, $lh:12px, $fw:600, $c:$details-color); 
        text-align: left;

        .table-icon{
            margin-left: 7px;
            margin-right: 3px;
            width: 12px;
            height: 12px; 
        }        
        .table-item{
            display:inline;
            cursor: pointer;
            user-select: none;

        }
    }

    .table-info {
        position:relative;
        padding-right:10px;
        .active{
            color: #39CD62; 
            background-color: #e3f0e6;
        }
        .active,.inactive{
            text-align: center;
            border-radius: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .dots{
            cursor:pointer;
            transform: translateY(9px);
        }
        .inactive{
            color: $details-color;
            background-color: #dde0e7; 
        }
    }
    
    .table-info > td {
        @include basic_font($ffa:$font-family_worksans, $fs:14px, $lh:16px, $c:$details-color);  
        border-bottom: solid 0.5px rgba(33, 63, 125, 0.1);
        padding-top: 15px;
        padding-bottom: 15px; 
        font-size:12px;
            
    }    
}
/*                              End List of Users section                                          */


/*                              Search for Users section                                          */
.search-control{
    position: absolute;
    width: 270px;
    height: 600px;
    left: 60px;
    top: 340px;
    background: $card-color;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 0px 0px 10px 1000px rgba(5, 223, 223, 0.04);
    border-radius: 4px;
    box-sizing: border-box;
    
    .search-filter{
        padding-left: 10px;
        padding-top: 20px;

        .label{
            @include basic_font($ffa:$font-family_worksans,$fw:500, $fs:14px, $lh:16px, $c:$details-color); 
        }
        .input-style{
            margin-top: 5px; 
            margin-bottom: 15px; 
            width: 230px;
            height: 40px;
        }
        .buttons{
            display: flex;
            margin-top: 20px;
            height: 42px;
            vertical-align: middle;

            .filter, .reset {
                box-sizing: border-box;
                width: 98px;
                height: 40px;
                @include basic_font($ffa:$font-family_worksans,$fw:600, $fs:14px, $lh:16px, $c:$details-color); 
                align-items: center;
                text-align: center;
                border-radius: 8px;
            }

            .filter{  
                background: $primary-color;
                border: 1px solid $primary-color;
                color: $card-color; 
            }
            .reset{
                border: 1px solid $details-color;
                margin-right: 15px;
                background: white;
            }
            .reset:hover,.reset:active, 
            .filter:hover,.filter:active{
                cursor: pointer;
                height: 42px;
                transition: height 0.1s ease-in-out; 
            }

        }
    }

}

/*                              End of Search for Users section                                          */


/*                              view details of Users                                                    */
.details {
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 130px;
    left: 750px;
    z-index: 3;
    // top: 622px;
    background: $card-color;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .details-item >div {
        @include basic_font($ffa:$font-family_worksans,$fw:600, $fs:14px, $lh:16px, $c:$details-color); 
    }
    .details-items {

        a {
            text-decoration: none;
            color: $details-color;
        }

        div:hover  {
            cursor: pointer;
            user-select: none;
        }
        .imgs {
            margin-right: 10px;
        }
    }
    
}
/*                             End view details of Users                                                    */

/*                              User Details page                                                           */
.user-details {
    @include basic_font($ffa:$font-family_worksans,$fw:500, $fs:24px, $lh:28px, $c:$welcome-color); 
}

.user-details-back-button{
    @include basic_font($ffa:$font-family_worksans,$fw:400, $fs:16px, $lh:19px, $c:$details-color); 
    display: flex;
    width: 200px;
    user-select: none;
}

.user-details-back-button:hover,
.user-details-back-button:active,
.user-details-back-button:focus{
    cursor: pointer;
    font-size: 1.1em;  
}

.user-details-base {
    box-sizing: border-box;
    background: $card-color;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px;
    margin-right: 20px;

    .user-details-information {
        @include basic_font($ffa:$font-family_worksans, $fw:700, $fs:16px, $lh:19px,$c:$welcome-color);
        margin:20px 0px;
    }
    .user-details-typography {
        @include basic_font($ffa:$font-family_worksans, $lh:19px,$c:$details-color);
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .user-details-typography-bottom {
        @include basic_font($ffa:$font-family_worksans,$fw:700, $lh:19px,$c:$details-color);
    }
    .user-typography {
        @include basic_font($ffa:$font-family_worksans,$fw:500, $fs:22px, $lh:26px, $c:$welcome-color);  
    }
    .user-typography-pages {
        @include basic_font($ffa:$font-family_worksans, $fs:16px, $lh:19px,$c:rgba(0, 0, 0, 0.8), $ta:center); 
        user-select: none; 
        padding-bottom: 10px;
    }
    .user-typography-pages-current {
        @include basic_font($ffa:$font-family_worksans, $fs:16px, $lh:19px,$c:$primary-color, $ta:center);
        border-bottom:$primary-color 2px solid;
        user-select: none; 
        padding-bottom: 10px;
    }
    .user-typography-pages-current:hover, .user-typography-pages:hover{
        cursor: pointer;
    }
}

/*                            End of User Details page                                                           */
